{{ define "regist/index.go.tmpl" }}
<html>
<head>
    <title>{{ .title }}</title>
    <style type="text/css" media="screen">
        @import url("/assets/css/regist.css");
    </style>
</head>
<body>
  <form action="/regist" method="POST">
    <input type="submit" />    
    <div>
      <table border="1">
        <thead>
          <tr>
            <th>photograph\member</th>
            {{range .sakuraMembers}}
            <th>{{ .Name }}</th>
            {{end}}        
          </tr>
        </thead>
        <tbody>
        {{range $pi, $pv := .sakuraPhotos}}
          <tr>
            <td>{{ .Name }}</td>
            {{range $mi, $mv := $.sakuraMembers}}
              <td><input type="checkbox" name="member_{{$mv.ID}}[]" value="{{$pv.ID}}" {{if eq (index (index $.sakuraProducerScenes $pi) $mi) 1}}checked{{end}}></td>    
            {{end}}
          </tr>
        {{end}}
        </tbody>
      </table>
    </div>
  </form>
</body>
</html>
{{ end }}
