{{ define "header" }}
<html>
<head>
    <title>{{ .title }}</title>
    <style type="text/css" media="screen">
        @import url("/assets/css/regist.css");
    </style>
</head>
<body>
  <a href="/scenes">シーン一覧</a>
  <a href="/regist/1">シーン登録(櫻坂46)</a>
  <a href="/regist/2">シーン登録(日向坂46)</a>
  <a href="/members">メンバー情報更新</a>
{{ end }}

{{ define "footer" }}
</body>
</html>
{{ end }}
