{{ define "header" }}
<html>
<head>
    <title>{{ .title }}</title>
    <style type="text/css" media="screen">
        @import url("/assets/css/regist.css");
    </style>
</head>
<body>
  {{ if .LoggedIn }}
  <p>Email: {{ .EMail }}</p>
  <a href="/auth/scenes">シーン一覧</a>
  <a href="/auth/regist/1">シーン登録(櫻坂46)</a>
  <a href="/auth/regist/2">シーン登録(日向坂46)</a>
  <a href="/auth/members">メンバー情報更新</a>  
  <a href="/auth/logout">ログアウト</a>
  {{ else }}
  <a href="/login">ログイン</a>
  {{ end }}

{{ end }}

{{ define "footer" }}
</body>
</html>
{{ end }}
